:root {
  --blue-400: #00051B;
  --blue-500: #000F50;
  --blue-600: #9AA5D4;
  --gray-500: #EEEEEE;
  --white-500: #FEFEFE;

  --font-stack: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--white-500);
}

body,
a {
  color: var(--blue-500);
}

body,
button {
  font-family: var(--font-stack);
}

/* Navigation */
.rhestr-header {
  margin: 1rem 7.5rem 2rem;
}

.rhestr-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rhestr-header-nav-logo h1 {
  font-size: 1.75rem;
}

.rhestr-header-nav-links {
  display: flex;
  align-items: center;
}

.rhestr-header-nav-links li {
  list-style: none;
  font-weight: 700;
  font-size: 1rem;
}

.rhestr-header-nav-links li:not(:last-child) {
  margin-right: 3rem;
}

.rhestr-header-nav-links li a {
  text-decoration: none;
}

.rhestr-header-nav-links li a:hover {
  color: var(--blue-600);
  transition: .1s ease-in;
}

.rhestr-header-nav-social {
  font-size: 1.25rem;
}

.rhestr-header-nav-social a:nth-of-type(2) {
  margin-left: 1rem;
}

/* Landing & Showcase */
.rhestr-showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5rem 7.5rem;
}

.rhestr-showcase-cta h2 {
  font-size: 4rem;
}

.rhestr-showcase-cta h3 {
  font-size: 1.56rem;
  margin: 1.75rem 0 3.5rem;
  line-height: 1.5;
}

.rhestr-showcase-cta-accent {
  color: var(--blue-600);
}

.rhestr-showcase-cta button {
  padding: 1.2rem 3.75rem;
  border-radius: 10px;
  border: 1px solid var(--blue-500);
  background-color: var(--blue-500);
  color: var(--white-500);
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, .25);
}

.rhestr-showcase-cta button:hover {
  background-color: var(--blue-600);
  border-color: var(--blue-600);
  transition: .1s ease-in-out;
}

.rhestr-showcase-preview {
  display: flex;
  justify-content: center;
  position: relative;
}

.rhestr-showcase-preview-demo {
  background-color: var(--white-500);
  height: 100%;
  width: 70%;
  border-radius: 30px;
  padding: 1rem;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 8px -8px 0px 0px var(--blue-400);
}

.rhestr-showcase-preview-demo-header {
  font-weight: 700;
  font-size: 1.1rem;
}

.rhestr-showcase-preview-demo-main-input {
  margin: .75rem 0;
}

.rhestr-showcase-preview-demo-main-input input {
  width: 100%;
  height: 32px;
  font-size: .9rem;
  padding-left: .5rem;
  color: var(--blue-500);
  border-radius: 7.5px;
  border: 1px solid var(--blue-600);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.rhestr-showcase-preview-demo-main-input input::placeholder {
  color: var(--blue-500);
}

.rhestr-showcase-preview-demo-main-output {
  list-style: none;
  max-height: 250px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.rhestr-list-item {
  border-radius: 10px;
  background-color: var(--gray-500);
  color: var(--blue-500);
  min-height: 35px;
  max-height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  margin-bottom: .3rem;
  font-size: .95rem;
}

.rhestr-list-item-entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rhestr-list-item-entry-display-input.rhestr-complete {
  text-decoration: line-through;
  color: var(--blue-400);
}

.rhestr-list-item-entry-delete {
  color: var(--blue-600);
  cursor: pointer;
  font-size: .9rem;
}

.time-stamp {
  font-size: .75rem;
  margin-top: .25rem;
}

.rhestr-showcase-preview-demo-footer {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, 0);
}

.clear {
  border: 1px solid var(--blue-600);
  width: 175px;
  height: 32.5px;
  border-radius: 50px;
  background-color: var(--blue-600);
  color: var(--white-500);
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.25);
}

.clear:active {
  transform: translate(1px, 1px);
}

.rhestr-showcase-preview-bg {
  position: absolute;
  height: 100%;
  width: 60%;
  background-color: var(--blue-600);
  border-radius: 25px;
  top: -10%;
  left: 32.5%;
  filter: blur(10px);
  opacity: .25;
  z-index: -1;
}

/* Features */
.rhestr-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15rem;
}

.rhestr-features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rhestr-features-item img {
  height: 50px;
  width: 50px;
  margin-bottom: .5rem;
}

.rhestr-features-item p {
  font-weight: 700;
  font-size: 1rem;
}

/* Installation Options */
.rhestr-install {
  display: flex;
  align-items: center;
  background-color: var(--blue-500);
  margin: 5rem 0;
  height: 500px;
  overflow: hidden;
}

.rhestr-install-illustration {
  margin-right: 7.5rem;
}

.rhestr-install-illustration img {
  height: 850px;
  width: auto;

}

.rhestr-install-options {
  display: flex;
  flex-direction: column;
}

.rhestr-install-options-btn {
  padding: 1rem 4rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.rhestr-install-options-btn i {
  margin-right: 1rem;
  font-size: 1.75rem;
}

.chrome-btn {
  margin-bottom: 1.5rem;
}

.rhestr-install-options-btn:hover {
  color: var(--blue-600);
  transition: .1s ease-in-out;
}

/* Testimonials */
.rhestr-testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 15rem;
}

.rhestr-testimonial-item {
  border: 3px solid var(--blue-500);
  border-radius: 20px;
  height: 450px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, .1);
}

.rhestr-testimonial-item img {
  height: 96px;
  width: 96px;
  border: 3px solid var(--blue-500);
  border-radius: 50px;
  object-fit: cover;
  margin: -3rem 0 .75rem;
}

.rhestr-testimonial-item-name {
  font-weight: 700;
  font-size: 1.25rem;
}

.rhestr-testimonial-item-job-desc {
  font-weight: 700;
  font-size: 1rem;
  margin: .5rem 0 1rem;
}

.rhestr-testimonail-item-quote {
  line-height: 1.5;
  letter-spacing: .25px;
  font-size: 1rem;
}

/* User Count */
.rhestr-user-count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rhestr-user-count-imgs {
  display: flex;
  align-items: center;
}

.rhestr-user-count-imgs img {
  height: 72px;
  width: 72px;
  object-fit: cover;
  border-radius: 50px;
  border: 3px solid var(--blue-500);
}

.rhestr-user-count-imgs img:not(:nth-of-type(1)) {
  margin-left: -2rem;
}

.rhestr-user-count-users {
  margin-left: 1rem;
  font-weight: 700;
}

/* Pricing */
.rhestr-pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 15rem;
  line-height: 1.5;
  letter-spacing: .5px;
}

.rhestr-pricing-item {
  border: 5px solid var(--blue-500);
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, .1);
}

.odd {
  height: 550px;
}

.even {
  height: 600px;
}

.rhestr-pricing-item h4 {
  margin: 2rem 0 .5rem;
  font-size: 1.5rem;
}

.rhestr-pricing-item h5 {
  font-size: 1rem;
}

.rhestr-pricing-item-digit {
  font-size: 1.75rem;
}

.rhestr-pricing-item-usp {
  background-color: var(--blue-500);
  color: var(--white-500);
  margin: 1rem 0;
  padding: .75rem 0;
  font-weight: 700;
}

.rhestr-pricing-item-benefits {
  text-align: start;
  margin:  1rem;
}

.rhestr-pricing-item-benefits li {
  list-style: none;
  font-size: .9rem;
}

.rhestr-pricing-item-benefits li i {
  margin-right: .5rem;
}

.rhestr-pricing-item-select-plan {
  background-color: var(--blue-500);
  color: var(--white-500);
  padding: .75rem 5rem;
  border-radius: 25px;
  border: 1px solid var(--blue-500);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .25);
  cursor: pointer;
  font-weight: 700;
}

.rhestr-pricing-item-select-plan:hover {
  background-color: var(--white-500);
  color: var(--blue-500);
  transition: .1s ease;
}

.rhestr-pricing-item:nth-of-type(1) button {
  margin: 7.5rem 0 1rem;
}

.rhestr-pricing-item:nth-of-type(2) button {
  margin: 6.8rem 0 1rem;
}

.rhestr-pricing-item:nth-of-type(3) button {
  margin: 1rem 0;
}

/* FAQ */
.rhestr-q-and-a {
  display: flex;
  flex-direction: column;
  margin: 0 15rem;
}

.rhestr-q-and-a-item {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 1rem;
}

.rhestr-q-and-a-item-question,
.rhestr-q-and-a-item-toggle {
  font-weight: 700;
  font-size: 1.25rem;
}

.rhestr-q-and-a-item-answer {
  letter-spacing: .5px;
  font-weight: 500;
  display: none;
}

.rhestr-q-and-a-item-answer.active {
  display: block;
}

.rhestr-q-and-a-item-answer li {
  margin-left: 1.5rem;
}

.rhestr-q-and-a-item-toggle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: rotate(0);
  transition: .2s ease-in-out;
}

.rhestr-q-and-a-item-toggle.turnt {
  transform: rotate(180deg);
}

.rhestr-q-and-a-lb {
  height: 1.5px;
  width: 100%;
  background-color: var(--blue-500);
  margin: 4rem 0 2rem;
  opacity: .25;
}

/* Contact */
.rhestr-contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 1.75rem;
  font-weight: 700;
}

.rhestr-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  margin-bottom: 7.5rem;
}

.rhestr-contact input {
  width: 30%;
  border-radius: 5px;
  border: 1px solid var(--blue-500);
  padding: .25rem 0 .25rem .5rem;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, .25);
}

.rhestr-contact input:nth-of-type(3) {
  padding-bottom: 10rem;
}

.rhestr-contact button {
  width: 25%;
  border-radius: 25px;
  padding: .75rem 0;
  background-color: var(--blue-500);
  border: 1px solid var(--blue-500);
  color: var(--white-500);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .25);
  margin-top: 1rem;
}

.rhestr-contact button:hover {
  background-color: var(--blue-600);
  color: var(--blue-500);
  transition: .1s ease;
}

/* Footer */
.rhestr-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 7.5rem;
}

.rhestr-footer-social {
  display: flex;
  align-items: center;
}

.fa-github {
  margin-right: 1rem;
}